.App {
  height: 100vh;
  width: 100vw;
  background-color: #171717 ;
}

.navbar{
  background-color: #2e2e2e;
  color:whitesmoke;
}
.textar{
  color: white;
}
.buttons{
  color: #696969;
}

.grd{
  width:20%;
  height:50%;
}
.imageCont{
  overflow-y: scroll;
  overflow-x: scroll;
  max-height:50%;
}
.ModalContainer{
  width: fit-content;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
.modalFadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.modalFadeOut{
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 1s;
}